:root{
  --primaria: #ff6161;
  --primaria-dark: #a82424;
  --cinza: #eff1f7;
  --branco: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}
body {
  display: grid;
  grid-template-areas:'nav'
                      'header'
                      'statistics'
                      'about'
                      'main'
                      'contact'
                      'footer';
  
                        
  grid-template-columns: 100% ;
  margin: 0;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Solway', serif;
}
a {
  text-decoration: none;
}
/* navbar */
nav {
  align-items: center;
  background-color: var(--primaria);
  display: flex;
  grid-area: nav;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  text-transform: uppercase; 
  position: fixed;
  z-index: 1000;
  box-shadow: 0px 0px 6px #9555;
}

nav .logo {
  display: flex;
  align-items: center;  
  color: var(--branco);
  font-size: 16pt;
  padding: 0 20px;
}
nav .logo img {
  width: 60px;
  height: 60px;
}
nav .menu {
  height: 100%;
  display: flex;
  padding: 0 20px;
}
nav .menu .item-menu{
  align-items: center;
  color: var(--branco);
  display: flex;
  height: 100%;
  margin-left: 20px;
  padding: 0 5px;
}
nav .menu .item-menu:nth-child(5){
  margin-left: 50px;
}
nav .menu .item-menu:hover {
  background-color: var(--branco);
  color: var(--primaria);
}

/* header */
header {
  grid-area: header;
  height: 100vh;
  padding: 100px 100px 0px 100px; 
  background-image: url(../static/images/fundo.jpg);
  background-size: cover;
  background-color: rgba( 0, 0, 0, 0.5);

}
.content-header {
  display: flex;
  width: 100%;
}
.item-header-text {
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 50%;
}
.item-header-text h1 {
  font-size: 60pt;
  color: var(--primaria);
  margin-bottom: 0;
}
.item-header-text h2 {
  font-size: 20pt;
  color: var(--cinza);
  margin-top: 0;
  line-height: 42px;
}
.item-header-img {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;
  /* background-image: ; */
}

/* about */
#about {
  grid-area: about;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--branco);
  min-height: 100vh;
  padding: 5vw;
}

#about h2.item-header-text{
  font-size: 40pt;
  color: var(--primaria);
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

#about p.description{
  width: 60vw;
  margin: 2em;
  line-height: 2em;
  text-align: center;
}

#about img{
  width: 50vw;
}

/* statistics */
#statistics {
  grid-area: statistics;
  display: flex;
  background-color:var(--primaria);
  height: 100vh;
  padding: 100px 100px 0px 100px;
}

/* main */
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 100px 100px 0px 100px;
  background-color: var(--primaria);
}

.search{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
  
}

.search label{
  color: white; 
  font-size: 30pt;

  letter-spacing: 0.4px;
  padding: 2px 2px;
  
}

#text-botao{
  border: none;
  width: 400px;
  height: 35px;
  border-radius: 5px;

}

#botao{
  background-color: white;
  border: none;
  width: 60px;
  height: 35px;
  border-radius: 5px;
}

.content-card{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-flow: wrap row;
  
}
.content-card .card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  width: 30%;
  border-radius: 5px;
  margin-bottom: 30px;
  background-color: var(--branco);
  
}

.content-card .card:hover {
  box-shadow: 0 30px 50px 0 rgba(0,0,0,0.5);
  cursor: pointer;
}

.content-card .card img{
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 40%;
}

.container-card {
  padding: 2px 2px;
  display: flex;
  flex-direction: column;
  /* padding-left: 20px; */
}

.container-card h4{
  text-align: center;
  font-weight: bold;
  font-size: 13pt;
}

.container-card ul{
  list-style-type: none;
  padding-left: 10px;
}

/* contact */
#contact {
  grid-area: contact;
  display: flex;
  background-color: var(--branco);
  padding: 100px 100px 100px 100px;
}

#contact h2.item-header-text{
  font-size: 35pt;
  color: var(--primaria);
  width: 100%;
  text-align: left;
}

footer {
  grid-area: footer;
  display: flex;  
  padding: 25px;
  background-color: var(--primaria) ;
}

footer h3 {
  color: var(--branco);
}

.equipe{
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

footer span{
  font-size: 11pt;
  text-align: center;
  color: var(--branco);
}

/* cadastro */
.container-lc {
  align-items: center; 
  display: flex; 
  flex-direction:column; 
  justify-content: center; 
  background-color: var(--primaria);
  height: 100vh;
  color: var(--primaria-dark);
}

.container-lc .formulario-lc {
  align-items: center;
  background-color: var(--branco);
  display: flex; 
  border-radius: 15px;
  flex-direction:column;  
  width: 35%;
  padding: 0px 0px 50px 0px;
}
.container-lc .formulario-lc .register {
  margin-top: 50px;
}

.container-lc .formulario-lc form {
  align-items: flex-start;
  display: flex; 
  flex-direction:column;
  width: 100%;
}
.formulario-lc form .my-form-group label {
  font-size: 14pt;
  width: 75%;
}
.formulario-lc form .my-form-group {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 100%;
}
.formulario-lc form input{
  border: .5px solid var(--primaria);
  border-radius: 2px;
  height: 30px;
  width: 75%;
  padding: 0px 0px 0px 15px;
}
.formulario-lc form input:focus {
  border: .5px solid transparent;
}
.formulario-lc form button{
  color: var(--branco);
  border: none;
  border-radius: 2px;
  background-color: var(--primaria);
  margin: 0px 48px 0px 0px;
  align-self: flex-end;
  height: 30px;
  width: 150px;
}
.formulario-lc form button:hover{
  background-color: var(--branco);
  color: var(--primaria);
  border: .5px solid var(--primaria);
  cursor: pointer;
}
.my-align-item {
  align-items: center;
}
