{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sinest</title>
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'script.js'%}" defer></script>
</head>
<body>

    <div id="shadow__modal" onclick="closeModal()"></div>
    <nav>
        <div class="logo">
            <img src="../static/images/logo.png">
            Sinest
        </div>
        <div class="toggle-menu">
            <img src="../static/images/menu-mobile.svg">
        </div>
        <div class="menu">
            {% block menu %}
            {% endblock %}
        </div>
    </nav>
    

    {% block content %}
    {% endblock %}
</body>
</html>