{% extends 'base.html' %}
{% block menu %}
<a href="/painel" class="item-menu">ir para painel de controle</a>
{% endblock %}

{% block content %}
<div class="daddy">
  <h1>Cadastrar evento</h1>
  <div class="container-control">
    {% if form %}
    <div class="formulario-lc">
      <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="my-form-group">
          <label>Nome do evento:</label>
          {{form.nome}}
        </div>
        <div class="my-form-group">
          <label>Data do evento:</label>
          {{form.data}}
        </div>
        <div class="my-form-group">
          <label>Horário do evento:</label>
          {{form.horario}}
        </div>
        <div class="my-form-group">
          <label>Descrição evento:</label>
          {{form.descricao}}
        </div>
        <div class="my-form-group">
          <label>CEP:</label>
          {{form.cep}}
          <p>Após a digitação do cep dados como logradouro, bairro, estado e UF são completados automaticamente.</p>
        </div>
        <div class="my-form-group">
          <label>Logradouro:</label>
          {{form.logradouro}}
        </div>
        <div class="my-form-group">
          <label>Bairro:</label>
          {{form.bairro}}
        </div>
        <div class="my-form-group">
          <label>Estado:</label>
          {{form.localidade}}
        </div>
        <div class="my-form-group">
          <label>UF:</label>
          {{form.uf}}
        </div>
        <div class="my-form-group">
          <label>Número:</label>
          {{form.numero}}
        </div>
        <div class="my-form-group">
          <label>Banner do evento:</label>
          {{form.imagem}}
        </div>
        <button type="submit">Cadastrar evento</button>
      </form>
    </div>
    {% endif %}
    {% if msg %}
    <div class="message">
      <h1>Evento cadastrado com sucesso</h1>
      <a href="/painel/cadastrar-evento">Deseja cadastrar mais um evento?</a>
      <a href="/painel">Ir para o painel de controle</a>
    </div>
    {% endif %}
  </div>
  <style>
    .formulario-lc {
      background-color: rgba(204, 204, 204, 0.384);
    }
  </style>
</div>
{% endblock %}