{% extends 'base.html' %}
{% block menu %}
  <a href="/" class="item-menu">ir para página inicial</a>
{% endblock %}

{% block content %}
<div class="container-lc">  
    {% if form %}
      <div class="formulario-lc">
        <h1>Cadastrar-se</h1>
        <form method="post"> {% csrf_token %}
          <div class="form-group">
            <label>Nome de usuário:</label>
            {{form.username}}
          </div>
          <div class="form-group">
            <label>Senha:</label>
            {{form.password1}}
          </div>
          <div class="form-group">
            <label>Confirmar senha:</label>
            {{form.password2}}
          </div>
          <button type="submit">Cadastrar</button>
        </form>
      </div>
    {% endif %}

    {% if msg %}
      <div class="message">
        <h1>{{msg}}</h1>
        <a href="/login">Voltar para tela de login</a>
      </div>
    {% endif %}
  </div>
{% endblock %}