{% extends 'base.html' %}
{% block content %}
  <header id="home">
    <section class="content-header">
      <div class="item-header-text">
        <h1>Arte ae</h1>
        <h2>Encontre seu evento na palma da sua mão.</h2>
      </div>
      <div class="item-header-img">
        <img src="../static/images/image-header.svg" width="500" height="500">
      </div>
    </section>
  </header>
  <section id="about">
    ABOUT
  </section>
  <section id="statistics">
    ESTATISTICAS
  </section>
  <main id="main">

    

    <div class="search">
      <label for="">Find your event </label>
      
      <div>
          <form action="">
              <input type="text">
              <button>clica</button>
          </form>
      </div>

    </div>

    <div class="content-card">

      <div class="card">
        <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" >
        <div class="container">
          <h4><b>Jane Doe</b></h4> 
          <p>Interior Designer</p> 
        </div>
      </div>
  
      <div class="card">
        <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" >
        <div class="container-card">
          <h4><b>Jane Doe</b></h4> 
          <p>Interior Designer</p> 
        </div>
      </div>
  
      <div class="card">
        <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" >
        <div class="container">
          <h4><b>Jane Doe</b></h4> 
          <p>Interior Designer</p> 
        </div>
      </div>

      <div class="card">
          <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" >
          <div class="container">
            <h4><b>Jane Doe</b></h4> 
            <p>Interior Designer</p> 
          </div>
        </div>

        <div class="card">
            <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" >
            <div class="container">
              <h4><b>Jane Doe</b></h4> 
              <p>Interior Designer</p> 
            </div>
          </div>

          <div class="card">
              <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" >
              <div class="container">
                <h4><b>Jane Doe</b></h4> 
                <p>Interior Designer</p> 
              </div>
            </div>




    </div>
    
  

  </main>
  <section id="contact">
    CONTACT
  </section>
  <footer>
    FOOTER
  </footer>
{% endblock %}