{% extends 'base.html' %}
{% block menu %}
<a href="#home" class="item-menu">Home</a>
<a href="#statistics" class="item-menu">Estatísticas</a>
<a href="#about" class="item-menu">Sobre</a>
<a href="#main" class="item-menu">Eventos</a>
<a href="#contact" class="item-menu">Contato</a>
<a href="/login" class="item-menu">Login</a>
{% endblock %}
{% block content %}
<header id="home">
  <section class="content-header">
    <div class="item-header-text">
      <h1>Sinest</h1>
      <h2>Eventos acessíveis para você,<br> na palma da sua mão</h2>
    </div>
  </section>
</header>
<section id="about">
  <h2 class="item-header-text">Nossa proposta</h2>
  <p class="description">
    Se baseando nas estatísticas, nós da Sinest apresentamos uma forma para que a pessoa que hoje demonstra qualquer
    dificuldade por deficiência possa participar de eventos que contenham a acessibilidade adequada.
  </p>
  <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/original_images/AccessibilityMeetup4_GIF.gif"
    alt="Um cadeirante, um idoso com o andador, uma mãe andando com suas duas filhas que estão correndo em volta dela enquanto ela anda com o carrinho do bebê">
</section>

<section id="statistics">
  <div class="images">
    <img class="img-statics" src="../static/images/superior.png"
      alt="Infográfico sobre deficientes no Brasil, na parte superior contém: porcentagem de brasileiros deficientes e informações sobre LIBRAS">
  </div>
  <div class="images">
    <img class="img-statics" src="../static/images/inferior.png"
      alt="Parte inferior do infográfico, contém: Dados sobre cada tipo de deficiência e grau por pessoa, continuação das informações sobre LIBRAS">
  </div>
</section>

<main id="main">
  <div class="search" id="search-text">
    <label>Encontre seu evento</label>
  </div>
  <div class="content-card">
    <ul class="cards">
      {% for evento in eventos %}
        <li class="cards_item">
          <div class="card_my">
            <div class="card_image">
              <img src="../../media/{{evento.imagem}}">
            </div>
            <div class="card_content">
              <h2 class="card_title">{{evento.nome}}</h2>
              <div class="card_text">
                <p>
                  <b>Local:</b> {{evento.logradouro}}, {{evento.numero}} -
                  {{evento.bairro}} - {{evento.localidade}} - {{evento.uf}}, CEP {{evento.cep}}</p>
                <p>
                  <b>Data e Hora:</b> 
                  {{evento.data}} ás {{evento.horario}}</p>
                <p>
                  <b>Descrição:</b>
                   {{evento.descricao}}</p>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</main>

<section id="contact">
  <div class="container">
    <h2 class="item-header-text">Entre em contato com a gente!</h2>
  </div>
  <div class="container">
    <form>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="mensagem">Digite a sua mensagem</label>
        <textarea class="form-control" id="mensagem" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-12">
        <h3>Equipe</h3>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-12 equipe">
        <img src="../static/images/hernani-moretti.jpg">
        <span>Hernani Moretti
          <br />Desenvolvedor Jr.</span>
        <a href="https://www.linkedin.com/in/hernani-m-a42955125/"><img class="icone"
            src="../static/images/linkedin.png" /></a>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-12 equipe">
        <img src="../static/images/danilo-macedo.jpg">
        <span>Danilo Macedo
          <br />Desenvolvedor Jr.</span>
        <a href="https://www.linkedin.com/in/danilo-macedo-quintino-762679173/"><img class="icone"
            src="../static/images/linkedin.png" /></a>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-12 equipe">
        <img src="../static/images/daniela-lopes.jpg">
        <span>Daniela Lopes
          <br />Desenvolvedora Jr.</span>
        <a href="https://www.linkedin.com/in/danielablopess"><img class="icone"
            src="../static/images/linkedin.png" /></a>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-12 equipe">
        <img src="../static/images/gabriela-rodrigues.jpg">
        <span>Gabriela Rodrigues
          <br />Desenvolvedora Jr.</span>
        <a href="https://www.linkedin.com/in/gabriela-rodrigues-matias"><img class="icone"
            src="../static/images/linkedin.png" /></a>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-12 equipe">
        <img src="../static/images/mauricio-dantas.jpg">
        <span>Maurício Dantas
          <br />Desenvolvedor Jr.</span>
        <a href="https://www.linkedin.com/in/maur%C3%ADcio-correia-dantas-491a62170/"><img class="icone"
            src="../static/images/linkedin.png" /></a>
      </div>
    </div>
  </div>
</footer>
{% endblock %}