{% extends 'base.html' %}
{% block menu %}
  <a href="/" class="item-menu">Voltar para página inicial</a>
{% endblock %}
{% block content %}
  <div class="container-lc">
    <div class="formulario-lc">
      <h1>Login</h1>
      <form method="post">{% csrf_token %}
        <div class="my-form-group my-align-item">
          <label>Nome de Usuário:</label>
          <input type="text" class="my-form-control" name="username">
        </div>
        <div class="my-form-group my-align-item">
          <label>Senha:</label>
          <input type="password" class="my-form-control" name="password">  
        </div>
        <button type="submit">Entrar</button>
      </form>
      
     <div class="register">
        Não é registrado?
        <a href="/cadastrar">Cadastre-se</a>
     </div>
    </div>
  </div>
{% endblock %}