{% extends 'base.html' %}
{% block menu %}
<div class="item-menu">
  Olá, {{user}}
</div>
<a href="/logout/" class="item-menu">logout</a>
{% endblock %}
{% block content %}
<div class="daddy">
  <h1>Painel de Controle</h1>
  <div class="container-control">
    <section class="my-event">
      <label class="title-event">Meus eventos</label>
      <section class="add-event">
        <a href="/painel/cadastrar-evento">
          <button type="button" class="add-evento">Adicionar evento</button>
        </a>
        <table>
          <tr>
            <th>Nome do evento</th>
            <th>Local</th>
            <th>Data e hora</th>
          </tr>
          {% for evento in eventos %}
          <tr>
            <td>{{evento.nome}}</td>
            <td>{{evento.logradouro}}, {{evento.numero}} -
              {{evento.bairro}} - {{evento.localidade}} - {{evento.uf}}</td>
            <td>{{evento.data}} ás {{evento.horario}}</td>
          </tr>
          {% endfor %}
        </table>
      </section>
    </section>
  </div>
</div>
{% endblock %}